{% extends "base.html" %}
{% block ttitle %}Omen | O nama{% endblock ttitle %}
{% block page_title %}o nama{% endblock page_title %}

{% block content %}
    <section>
        <div class="container">
            <div class="section-title fw-bold">O nama</div>
            <div class="cinema-description">
                <p>Omen Cinema je renomirani bioskop koji se nalazi u samom centru grada. Ovaj bioskop je osnovan 1995.
                    godine, te je već dugi niz godina sinonim za kvalitetno bioskopsko iskustvo.</p>
                <p>Sme&scaron;ten u moderno opremljenom prostoru, Omen Cinema nudi vrhunsku tehnologiju za projekcije
                    filmova, &scaron;to omogućava da posteioci uživaju u vrhunskom doživljaju filma.
                    Sa kapacitetom od 150 sedi&scaron;ta raspoređenih u nekoliko sala, Omen Cinema može primiti
                    veliki broj posetilaca u isto vreme.</p>
                <p>Bioskop se nalazi na adresi Trg Kralja Petra 4, a zbog svog centralnog položaja lako ga je pronaći i
                    doći do njega. U blizini se nalazi i javni parking koji omogućava jednostavan pristup bioskopu.</p>
                <p>Osim toga, Omen Cinema se ponosi svojom dugom istorijom i tradicijom u gradu. Bioskop je kroz godine
                    postao omiljeno mesto za mnoge generacije koje uživaju u filmskoj umetnosti. Posetioci mogu uživati
                    u različitim žanrovima, od akcionih filmova do romantičnih komedija, dok se povremeno održavaju i posebne
                    projekcije kultnih filmova.</p>
                <p>Omen Cinema je takođe poznat po svojoj udobnosti i kvalitetnoj usluzi. Kafić u sklopu bioskopa poslužuje
                    ukusne grickalice i pića, te posetiocima omogućava da se opuste i uživaju u druženju pre ili
                    posle projekcije filma.</p>
                <p>Ukratko, Omen Cinema je savr&scaron;eno mesto za sve ljubitelje filma koji traže vrhunski doživljaj u
                    udobnom i modernom okruženju.</p>
                <p>Omen Cinema takođe organizuje različite događaje i promocije za svoje posetioce. Na primer, redovno
                    se održavaju premijere filmova uz dodatne aktivnosti poput nagradnih igara, fotografskih pozadina i drugih
                    zabavnih sadržaja. Ovaj bioskop takođe nudi i mogućnosti za privatne projekcije, &scaron;to ga čini idealnim
                    mestom za organizaciju privatnih događaja poput rođendanskih proslava ili poslovnih sastanaka(tim bildinga).</p>
                <p>Ponosimo se time da je Omen Cinema aktivan u promovisanju filmske kulture i obrazovanju. Ovaj bioskop organizuje
                    različite projekte i radionice za mlade, te sarađuje s različitim organizacijama kako bi doprineo razvoju filmske
                    umetnosti i kulture u gradu.</p>
                <p>Uz svoju dugogodi&scaron;nju tradiciju, vrhunsku tehnologiju i uslugu, kao i raznovrsne mogućnosti za
                    posetioce, Omen Cinema je nezaobilazna destinacija za sve ljubitelje filma u gradu.</p>
            </div>

            <div class="section-title fw-bold">Tehnologije</div>
            <div class="cinema-description">
                <p>
                    Omen Cinema bioskop koristi najsavremenije tehnologije u filmskoj industriji kako bi omogućio posetiocima vrhunski
                    doživljaj filma. Neke od tehnologija koje se koriste u ovom bioskopu uključuju:
                </p>
                <ol style="list-style-type: decimal;">
                    <li>
                        <p>
                            Projektori najnovije generacije: Omen Cinema koristi digitalne projekcijske sisteme najnovije generacije koji
                            pružaju jasnu i o&scaron;tru sliku visoke rezolucije, te osiguravaju vrhunski kvalitet slike i prikaza.
                        </p>
                    </li>
                    <li>
                        <p>
                            Dolby Atmos: Omen Cinema koristi Dolby Atmos sistem koji omogućava da zvuku dolazi sa svih strana, pa se tako
                            posetioci mogu osećati kao da su deo filma. Ovo pobolj&scaron;ava doživljaj filma i čini ga
                            jo&scaron; intenzivnijim.
                        </p>
                    </li>
                    <li>
                        <p>
                            IMAX: Omen Cinema takođe ima IMAX sistem koji nudi najveću sliku i najbolji kvalitetu slike i zvuka
                            u bioskopu. IMAX prikazuje filmove u 2D ili 3D formatu, te je idealan za sve ljubitelje akcionih filmova
                            i spektakularnih vizuelnih efekata.
                        </p>
                    </li>
                    <li>
                        <p>
                            3D tehnologija: Omen Cinema koristi najsavremenije 3D tehnologije kako bi omogućio gledaocima da u
                            potpunosti uđu u film i dožive ga na potpuno drugačiji način. Ovo stvara poseban doživljaj za gledaoce
                            koji su u potpunosti uronjeni u filmsko iskustvo.
                        </p>
                    </li>
                </ol>
                <p>Uz ove tehnologije, Omen Cinema koristi i napredne sisteme za osvetljenje i klimatizaciju u svim svojim salama kako
                    bi osigurao optimalne uslove za gledanje filma i ugodno iskustvo za sve posetioce. Sve ove tehnologije,
                    zajedno sa stručno&scaron;ću osoblja i udobno&scaron;ću prostora, čine Omen Cinema jednim od najboljih bioskopa
                    u gradu i privlačnim mestom za sve ljubitelje filma.
                </p>
            </div>

            <div class="section-title fw-bold">Politika privatnosti</div>
            <div class="cinema-description">
                <p>Ovde je primer politike privatnosti koju bi Omen Cinema mogao da koristi:</p>
                <p class="fw-bold">Politika privatnosti</p>
                <p>
                    Ova politika privatnosti obja&scaron;njava kako Omen Cinema prikuplja, koristi i &scaron;titi Va&scaron;e lične podatke.
                    Mi se obavezujemo da ćemo za&scaron;tititi Va&scaron;e lične podatke u skladu sa važećim zakonima o privatnosti podataka
                </p>
                <p class="fw-bold">Kakve podatke prikupljamo?</p>
                <p>
                    Omen Cinema može prikupljati Va&scaron;e lične podatke kao &scaron;to su ime, prezime, e-mail adresa i slično. Ovi podaci
                    se prikupljaju kada na na&scaron;oj web stranici, rezervišete karte za film ili nam &scaron;aljete e-mail.
                </p>
                <p class="fw-bold">Za&scaron;to prikupljamo Va&scaron;e podatke?</p>
                <p>
                    Omen Cinema prikuplja Va&scaron;e lične podatke kako bi Vam omogućio rezervaciju karata za filmove, slanje obave&scaron;tenja
                    o novim filmovima, promocijama i događajima u bioskopu, kao i slanje povratnih informacija o na&scaron;im uslugama.
                </p>
                <p class="fw-bold">Kako koristimo Va&scaron;e podatke?</p>
                <p>
                    Omen Cinema neće deliti Va&scaron;e lične podatke s trećim stranama osim ako to nije neophodno za pružanje usluga za
                    koje ste se prijavili ili ako to zahtevaju zakoni o privatnosti podataka. Omen Cinema će koristiti Va&scaron;e lične
                    podatke samo u svrhe za koje ste dali saglasnost. Va&scaron;i podaci se čuvaju u sigurnom okruženju i pristupaju im samo
                    ovla&scaron;ćena lica.
                </p>
                <p class="fw-bold">Kako čuvamo Va&scaron;e podatke?</p>
                <p>
                    Omen Cinema primenjuje sve neophodne tehničke i organizacione mere za za&scaron;titu Va&scaron;ih ličnih podataka od
                    neovla&scaron;ćenog pristupa, gubitka ili krađe. Va&scaron;i podaci se čuvaju u sigurnom okruženju i pristupaju im
                    samo ovla&scaron;ćena lica
                    .</p>
                <p class="fw-bold">Kako pristupiti Va&scaron;im podacima?</p>
                <p>
                    U bilo kom trenutku možete zatražiti pristup Va&scaron;im ličnim podacima koje čuvamo. Ako primetite da su Va&scaron;i
                    lični podaci netačni ili zastareli, možete nas kontaktirati i zatražiti izmenu tih podataka. Ako želite da
                    obri&scaron;emo Va&scaron;e podatke iz na&scaron;e baze podataka, možete nam poslati zahtev za brisanje.
                </p>
                <p class="fw-bold">Kontakt</p>
                <p>
                    Ako imate bilo kakvih pitanja o na&scaron;oj politici privatnosti ili na&scaron;em postupanju s Va&scaron;im lični
                     podacima, molimo Vas da nas kontaktirate putem e-mail adrese ili telefona navedenih na na&scaron;oj web stranici.
                </p>
            </div>

            <div class="section-title fw-bold">Partneri</div>
            <div class="cinema-description">
                <p>Brendovi hrane i pića koji sarađuju sa nama i imaju kioske u bioskopu "Omen Cinema":</p>
                <ul style="list-style-type: disc;">
                    <li>Burger King: nudi ukusne hamburgere, pomfrit i razne vrste obroka.</li>
                    <li>Coca-Cola: jedan od najpoznatijih brendova pića na svetu, nudi različite vrste gaziranih i negaziranih napitaka.</li>
                    <li>Dunkin Donuts: ima slatke i slane proizvode poput korfni, peciva, kafe i drugih napitaka.</li>
                    <li>Heineken: jedan od vodećih brendova piva u svetu, nudi svoje popularne vrste piva.</li>
                    <li>KFC: poznat po svojim ukusnim pohovanim pilećim obrocima i specijalitetima.</li>
                    <li>Kraft Heinz: nudi različite proizvode kao &scaron;to su kečap, senf, majonez i druge začine.</li>
                    <li>McDonald's: ima &scaron;irok izbor ukusne hrane poput hamburgera, pomfrita i drugih specijaliteta.</li>
                    <li>Pringles: popularan brend čipsa sa različitim ukusima.</li>
                    <li>Red Bull: poznat po svom popularnom energetskom piću, kao i drugim napicima.</li>
                    <li>Starbucks: ima &scaron;irok izbor ukusne kafe i drugih napitaka.</li>
                </ul>
                <p>
                    Svi ovi brendovi su odabrani zbog svojih kvaliteta i popularnosti, i predstavljaju raznoliku ponudu hrane i pića u kojim
                    publika može uživati u toku posete bioskopa "Omen Cinema".
                </p>
            </div>
        </div>
    </section>
{% endblock content %}